<!DOCTYPE html >
<html lang="en" th:replace="~{layout:: layout(~{::title}, ~{}, ~{::div.page-content})}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>CSHelpDesk | Khách Hàng</title>
</head>
<body>

<h2 class="page-title">Khách Hàng</h2>
<div class="page-content">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div th:replace="~{fragments/header:: header(~{::h2.page-title})}"></div>
    <!--    Customer content-->
    <div class="customer-content page-main-content d-flex flex-column">
        <div id="customer-search" class="page-search">
            <div id="form-ticket-search"
                 class="form-ticket-search d-flex flex-row flex-wrap align-items-center">

                <div class="select-all me-2 d-flex align-items-center">
                    <input type="checkbox" class="me-3">
                    <span class="me-2 pe-3">Chọn tất cả</span>
                </div>

                <div class="btn me-3" id="delete-checkbox">Xóa</div>

                <div class="search-common flex-row" style="display: flex">
                    <div class="search-input-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Tìm kiếm..."
                               id="search-keyword">
                        <i class="bi bi-search"></i>
                    </div>
                    <select class="form-select form-select-sm" aria-label=".form-select-lg" id="search-field">
                        <option value="facebookId" selected="">Facebook ID</option>
                        <option value="facebookName">Tên Facebook</option>
                        <option value="realName">Họ tên</option>
                        <option value="phone">Số điện thoại</option>
                        <option value="email">Email</option>
                        <option value="zalo">Zalo</option>
                    </select>
                </div>

                <div class="customer-search-btn-group ms-2">
                    <div class="btn me-1" id="customer-export-excel" disabled="">
                        <i class="bi bi-download"></i> Tải xuống
                    </div>
                </div>

            </div>
        </div>

        <div class="customer-list page-list flex-grow-1">
            <!-- Header -->
            <div class="page-list-header container-fluid fw-bold border-bottom">
                <div class="row py-3">
                    <div class="col"></div>
                    <div class="col resizable" data-sort="facebookId" data-sort-direction="none">Facebook ID
                    </div>
                    <div class="col resizable" data-sort="title" data-sort-direction="none">Tên Facebook</div>
                    <div class="col resizable" data-sort="assignee" data-sort-direction="none">Họ Tên</div>
                    <div class="col resizable" data-sort="facebookUser" data-sort-direction="none">Số Điện Thoại
                    </div>
                    <div class="col resizable" data-sort="progress-status" data-sort-direction="none">Email
                    </div>
                    <div class="col resizable" data-sort="category" data-sort-direction="none">Zalo</div>
                    <div class="col"></div>
                </div>
            </div>

            <div class="page-list-body container-fluid" id="customer-list-body">
                <div id="loading-result" class="row loading-row justify-content-center text-muted py-3"
                     style="display: none">
                    <div class="col-auto">
                        <div class="spinner-border spinner-border-sm me-2 text-primary" role="status"></div>
                        Đang tải dữ liệu...
                    </div>
                </div>
                <div id="no-customer-result" class="text-center text-muted py-3" style="display: none">
                    <i class="bi bi-inbox me-1"></i> Hiện chưa có dữ liệu khách hàng.
                </div>

            </div>

            <div id="customer-pagination-bar"
                 class="page-list-footer page-pagination bg-white p-2 border-top d-flex justify-content-between align-items-center">
                <div class="form-group d-flex align-items-center">
                    <label for="pageSize" class="me-2 mb-0">Hiển thị:</label>
                    <select id="pageSize" class="form-select form-select-sm" style="width: auto;">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span class="ms-2">mỗi trang</span>
                </div>
                <nav>
                    <ul id="pagination-menu" class="pagination pagination-sm mb-0">
                        <!-- Các nút phân trang sẽ được thêm bằng JS -->
                    </ul>
                </nav>
            </div>

        </div>

        <!-- Customer Detail Modal-->
        <div class="modal modal-xl fade" id="customerDetailModal" tabindex="-1"
             aria-labelledby="customerEditModalLabel" aria-hidden="true" data-facebookid="">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="d-flex flex-row h-100">
                            <!-- customer profile -->
                            <div class="customer-profile w-100% d-flex flex-column">
                                <div
                                        class="facebook-profile d-flex flex-column align-items-center justify-content-end mb-3">
                                    <div class="img-contaier">
                                        <img id="facebookProfilePic"
                                             src="img/facebookuser-profile-placeholder.jpg" alt="" srcset="">
                                    </div>
                                    <div class="bg-cover"></div>
                                    <div class="w-100 text-center">
                                        <span id="facebookName">- -</span>

                                    </div>
                                    <span id="facebookId">- -</span>
                                </div>
                                <div
                                        class="d-flex flex-row fs-5 loading-row justify-content-center text-muted py-3">
                                    <div class="text-center">
                                        <div class="spinner-border spinner-border-sm me-2 text-primary"
                                             role="status"></div>
                                        Đang tải dữ liệu...
                                    </div>
                                </div>
                                <div class="d-flex flex-column d-none">
                                    <div class="detail-info flex-grow-1">
                                        <div class="mb-2">
                                                    <span class="fw-medium field-name">
                                                        <i class="bi bi-person-fill me-2"></i>Họ tên:
                                                    </span>
                                            <span class="field-value float-end">- -</span>
                                            <input type="text" id="realName" class="float-end d-none"
                                                   data-original="Bùi Khắc Bình">
                                        </div>
                                        <div class="mb-2">
                                                    <span class="fw-medium field-name">
                                                        <i class="bi bi-telephone-fill me-2"></i>Số điện thoại:
                                                    </span>
                                            <span class="field-value float-end">- -</span>
                                            <input type="text" id="phone" class="float-end d-none"
                                                   data-original="0797409134">
                                        </div>
                                        <div class="mb-2">
                                                    <span class="fw-medium field-name">
                                                        <i class="bi bi-envelope-fill me-2"></i>Email:
                                                    </span>
                                            <span class="field-value float-end">- -</span>
                                            <input type="text" id="email" class="float-end d-none"
                                                   data-original="teddie.bbui@gmail.com">
                                        </div>
                                        <div class="mb-2">
                                                    <span class="fw-medium field-name">
                                                        <i class="bi bi-chat-dots-fill me-2"></i>Zalo:
                                                    </span>
                                            <span class="field-value float-end">- -</span>
                                            <input type="text" id="zalo" class="float-end d-none"
                                                   data-original="0797409134">
                                        </div>
                                        <div class="mb-2">
                                                    <span class="fw-medium field-name">
                                                        <i class="bi bi-calendar2-week-fill me-2"></i>Ngày sinh:
                                                    </span>
                                            <span class="float-end">- -</span>
                                        </div>
                                        <div class="mb-2">
                                                    <span class="fw-medium field-name">
                                                        <i class="bi bi-geo-alt-fill me-2"></i>Địa chỉ:
                                                    </span>
                                            <span class="float-end">- -</span>
                                        </div>
                                    </div>
                                    <div class="text-end">
                                        <div id="edit">
                                            <i class="bi bi-pencil-square"></i>
                                        </div>
                                        <div id="edited" class="d-none">
                                            <button class="btn" id="cancel-edit"><i
                                                    class="bi bi-arrow-clockwise me-2"></i>Hủy</button>
                                            <button class="btn" id="submit-edited" disabled=""><i
                                                    class="bi bi-save me-2"></i>Cập nhật</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- customer history ticket -->
                            <div class="customer-history-ticket flex-grow-1 d-flex flex-column">

                                <h3 id="title" class="py-3">Ticket Gần Đây</h3>
                                <div class="data-table flex-grow-1 overflow-y-scroll" style="min-height: 0;">
                                    <div class="item">
                                        <div class="d-flex flex-row">
                                            <div class="i-badge me-3">
                                                <i class="bi bi-ticket-perforated"></i>
                                            </div>
                                            <div class="">
                                                <div>
                                                    <div class="title mb-2">Chưa có tiêu đề <span
                                                            class="ticketId"> -
                                                                    #ID: <span
                                                                id="ticketId">98956859685465</span></span></div>
                                                    <div class="assignee mb-1">Admin - <span
                                                            class="category">Chưa phân loại</span></div>
                                                    <div class="createdAt mb-1">21:57:09 - 17/05/2025</div>
                                                </div>
                                            </div>
                                            <div
                                                    class="ms-auto text-start d-flex flex-column justify-content-evenly">
                                                <div class=""><i class="bi bi-activity me-3"></i><span
                                                        class="progressStatus pending">Đang xử lý</span></div>
                                                <div class="emotion"><i class="bi bi-emoji-smile me-3"></i>Rất
                                                    tức giận</div>
                                                <div class="satisfaction"><i class="bi bi-stars me-3"></i>Hài
                                                    lòng</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <div class="d-flex flex-row">
                                            <div class="i-badge me-3">
                                                <i class="bi bi-ticket-perforated"></i>
                                            </div>
                                            <div class="">
                                                <div>
                                                    <div class="title mb-2">Chưa có tiêu đề <span
                                                            class="ticketId"> -
                                                                    #ID: <span
                                                                id="ticketId">98956859685465</span></span></div>
                                                    <div class="assignee mb-1">Admin - <span
                                                            class="category">Chưa phân loại</span></div>
                                                    <div class="createdAt mb-1">21:57:09 - 17/05/2025</div>
                                                </div>
                                            </div>
                                            <div
                                                    class="ms-auto text-start d-flex flex-column justify-content-evenly">
                                                <div class=""><i class="bi bi-activity me-3"></i><span
                                                        class="progressStatus resolved">Đã xử lý</span></div>
                                                <div class="emotion"><i class="bi bi-emoji-smile me-3"></i>Rất
                                                    tức giận</div>
                                                <div class="satisfaction"><i class="bi bi-stars me-3"></i>Hài
                                                    lòng</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="d-flex flex-row">
                                            <div class="i-badge me-3">
                                                <i class="bi bi-ticket-perforated"></i>
                                            </div>
                                            <div class="">
                                                <div>
                                                    <div class="title mb-2">Chưa có tiêu đề <span
                                                            class="ticketId"> -
                                                                    #ID: <span
                                                                id="ticketId">98956859685465</span></span></div>
                                                    <div class="assignee mb-1">Admin - <span
                                                            class="category">Chưa phân loại</span></div>
                                                    <div class="createdAt mb-1">21:57:09 - 17/05/2025</div>
                                                </div>
                                            </div>
                                            <div
                                                    class="ms-auto text-start d-flex flex-column justify-content-evenly">
                                                <div class=""><i class="bi bi-activity me-3"></i><span
                                                        class="progressStatus on-hold">Đang chờ</span></div>
                                                <div class="emotion"><i class="bi bi-emoji-smile me-3"></i>Rất
                                                    tức giận</div>
                                                <div class="satisfaction"><i class="bi bi-stars me-3"></i>Hài
                                                    lòng</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="d-flex flex-row">
                                            <div class="i-badge me-3">
                                                <i class="bi bi-ticket-perforated"></i>
                                            </div>
                                            <div class="ticket">
                                                <div class="title">Chưa có tiêu đề</div>
                                                <div class="assignee">Admin</div>
                                                <div class="assignee">21:57:09 - 17/05/2025</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="d-flex flex-row">
                                            <div class="i-badge me-3">
                                                <i class="bi bi-ticket-perforated"></i>
                                            </div>
                                            <div class="ticket">
                                                <div class="title">Chưa có tiêu đề</div>
                                                <div class="assignee">Admin</div>
                                                <div class="assignee">21:57:09 - 17/05/2025</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="d-flex flex-row">
                                            <div class="i-badge me-3">
                                                <i class="bi bi-ticket-perforated"></i>
                                            </div>
                                            <div class="ticket">
                                                <div class="title">Trả hàng</div>
                                                <div class="assignee">Bui Khac Binh</div>
                                                <div class="assignee">11:25:09 - 16/05/2025</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!-- Customer delete modal -->
        <div class="modal fade" id="customerDeleteModal" tabindex="-1"
             aria-labelledby="customerDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="customerDeleteModalLabel">Xác nhận xoá khách hàng</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                aria-label="Đóng"></button>
                    </div>
                    <div class="modal-body">
                        <p>Bạn có chắc chắn muốn xoá khách hàng <strong id="delete-customer-name"></strong>
                            không?</p>
                        <p>Hành động này không thể hoàn tác.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-bs-dismiss="modal">Huỷ</button>
                        <button type="button" class="btn" id="confirmDeleteCustomerBtn">Xoá</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>

</body>
</html>