<!DOCTYPE html >
<html lang="en" th:replace="~{layout:: layout(~{::title}, ~{::link}, ~{::div.page-content}, ~{})}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <title>CSHelpDesk | Loi </title>
</head>
<body>

<div class="page-content">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div th:replace="~{fragments/header:: header(~{})}"></div>

    <!-- Error Content -->
    <div class="error-content text-center" style="margin-top: 80px;">
        <h1 style="font-size: 64px; color: #dc3545;">404</h1>
        <p style="font-size: 24px;">Trang bạn tìm kiếm không tồn tại.</p>
        <a href="/" class="btn btn-primary mt-3">Quay lại Trang chính</a>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>