<!DOCTYPE html >
<html lang="en" th:replace="~{layout:: layout(~{::title}, ~{}, ~{::div.page-content}, ~{})}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>CSHelpDesk | Hiệu Suất</title>
</head>
<body>

<h2 class="page-title">Hiệu Suất</h2>
<div class="page-content">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div th:replace="~{fragments/header:: header(~{::h2.page-title})}"></div>
    <!--    performance content-->
    <div class="performance-content page-main-content d-flex flex-column">
        <div id="performance-search" class="page-search d-flex flex-row align-items-center">
            <div class="field-group mb-2 fw-bold fs-6">Chọn nhân viên để đánh giá: </div>
            <!-- ========= employee picker ========= -->
            <div class="field-group username mb-2">
                <div class="dropdown-input">
                    <input type="text" id="username" name="username" placeholder="Chọn nhân viên...">
                    <i class="bi bi-chevron-down dropdown-button"></i>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item">Xóa</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item">Binh 2</a>
                        </li>
                        <li>
                            <a class="dropdown-item">Admin</a>
                        </li>
                        <li>
                            <a class="dropdown-item">Bui Khac Binh</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- =========== month picker===========  -->
            <div class="field-group month-picker mb-2">
                <input id="month-select" type="month" class="form-control" placeholder="Chọn tháng...">
            </div>
            <!-- ======== search btn ===== -->
            <div class="btn " id="form-submit">
                <i class="bi bi-search me-1"></i> Tìm kiếm
            </div>
        </div>

        <div class="performance-list data-table page-list flex-grow-1">
            <div class="page-list-body data-body container-fluid">
                <div class="row mb-4">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                Các tiêu chí cơ bản
                            </div>
                            <div class="card-body p-0">
                                <table class="table table-hover mb-0" id="metrics-table">
                                    <thead class="table-light">
                                    <tr>
                                        <th>Tiêu chí</th>
                                        <th>Tham chiếu</th>
                                        <th>Thực đạt</th>
                                        <th>Trung bình</th>
                                        <!-- <th>Đạt</th> -->
                                    </tr>
                                    </thead>
                                    <tbody id="metrics-body" class="loadable">
                                    <td colspan="999">
                                        <div class="text-center text-secondary py-3">Hiện chưa có đánh giá
                                        </div>
                                    </td>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 2.2 Lỗi chi tiết & ChatGPT summary -->
                <div class="row mb-4">
                    <div class="col-lg-6">
                        <div class="card h-100">
                            <div class="card-header">🔍 Chi tiết lỗi trò chuyện</div>
                            <div class="card-body p-0">
                                <table class="table table-hover mb-0" id="failedCriterias-table">
                                    <thead class="table-light">
                                    <tr>
                                        <th>Tiêu chí</th>
                                        <th>Chi tiết</th>
                                        <th>Lượng Lỗi</th>
                                    </tr>
                                    </thead>
                                    <tbody id="failedCriterias-body" class="loadable">
                                    <td colspan="999">
                                        <div class="text-center text-secondary py-3">Hiện chưa có ticket lỗi
                                        </div>
                                    </td>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card h-100 border-success">
                            <div class="card-header bg-success text-white">💡 Đánh giá của AI</div>
                            <div class="card-body loadable" id="chatgpt-summary" style=""> Chưa có đánh giá
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 2.3 Bảng ticket -->
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">📋 Danh sách ticket đã đánh giá</div>
                            <div class="card-body p-0">
                                <table class="table table-hover mb-0" id="tickets-table">
                                    <thead class="table-light">
                                    <tr>
                                        <th>#ID</th>
                                        <th>Nhân viên</th>
                                        <th>Người đánh giá</th>
                                        <th>Thời gian đánh giá</th>
                                        <th>Đạt</th>
                                    </tr>
                                    </thead>
                                    <tbody class="loadable">
                                    <tr>
                                        <td colspan="999">
                                            <div class="text-center text-secondary py-3">Hiện chưa có ticket
                                                lỗi</div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal placeholder cho chi tiết ticket -->
        <div class="modal fade" id="ticketModal" tabindex="-1">
            <div class="modal-dialog modal-xl modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Chi tiết Ticket</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-7 h-100 overflow-y-auto">
                                    <div class="card mb-3">
                                        <div class="card-header">Tiêu chí lỗi</div>
                                        <div class="card-body p-0">
                                            <table class="table table-hover mb-0">
                                                <thead class="table-light">
                                                <tr>
                                                    <th>Tiêu chí</th>
                                                    <th>Chi tiết</th>
                                                    <th></th>
                                                </tr>
                                                </thead>

                                                <tbody id="ticket-errors-body" class="loadable">
                                                <tr>
                                                    <td colspan="999">
                                                        <div class="text-center text-secondary py-3">Hiện
                                                            chưa
                                                            có
                                                            ticket lỗi
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="card mb-3 summary-container" style="height: 300px;">
                                        <div class="card-header text-white">
                                            Nhận xét
                                        </div>
                                        <div class="card-body" style="overflow-y: auto; height: 100%;">
                                                    <textarea class="summary"
                                                              style="width: 100%; height: 100%; border: none; resize: none;"
                                                              placeholder="Nhập nội dung..."></textarea>
                                        </div>
                                    </div>

                                    <button class="btn float-end m-3" style="" data-bs-dismiss="modal"> <i
                                            class="bi bi-x-lg me-2"></i>Hủy</button>

                                    <button class="btn float-end m-3" style="" id="submit" disabled><i
                                            class="bi bi-check2 me-2"></i>Cập nhật</button>
                                </div>
                                <div class="col-5 d-flex flex-column overflow-y-auto p-3" id="chatBox">
                                    <h6 class="mb-3">Tin nhắn</h6>
                                    <div class="flex-grow-1 d-flex flex-column" id="messageList"></div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>

</body>
</html>