<!DOCTYPE html >
<html lang="en" th:replace="~{layout:: layout(~{::title}, ~{}, ~{::div.page-content}, ~{::scripts})}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>CSHelpDesk | Báo Cáo</title>
</head>
<body>

<h2 class="page-title">Báo Cáo</h2>
<div class="page-content">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div th:replace="~{fragments/header:: header(~{::h2.page-title})}"></div>

    <!--    report content-->
    <div class="report page-main-content g-0 d-flex flex-column ">
        <div class="page-list">
            <div class="page-list-body container-fluid">
                <div class="row">
                    <!-- chart item-->
                    <div class="col-6">
                        <div class="chart-item" id="ticketByHour">

                            <div
                                    class="chart-header d-flex flex-row justify-content-start align-items-center p-3">
                                <!-- //header -->
                                <div class="chart-title d-flex align-items-center gap-2 me-auto">
                                    <i class="bi bi-graph-up-arrow fs-5 text-primary"></i>
                                    <div class="chart-title">Ticket Mỗi Giờ</div>
                                </div>

                                <div class="field-group dateOption" data-dateoption="1w" data-label="1 Tuần">
                                    1W
                                </div>
                                <div class="field-group dateOption" data-dateoption="1m" data-label="1 Tháng">
                                    1M
                                </div>
                                <div class="field-group dateOption" data-dateoption="3m" data-label="3 Tháng">
                                    3M
                                </div>

                                <!-- date range option -->
                                <div class="field-group dateRange">
                                    <!-- <input type="text" id="dateRange" placeholder="Chọn ngày..." /> -->
                                    <div type="text" class="dateRangeOption" placeholder="Chọn ngày..."><i
                                            class="bi bi-calendar"></i></div>
                                </div>

                                <!-- add dataset -->
                                <div class="field-group datasets">
                                    <div class="dropdown">
                                        <a class="" type="button" data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item add-dataset" href="#">Thêm
                                                dữ liệu</a></li>
                                            <div class="dropdown-divider"></div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="chart-metrics container-fluid">
                                <!-- //metrics -->
                                <div class="row mb-3 g-3">
                                    <div class="col-md-4">
                                        <div class="widget stat-card text-center">

                                            <div class="stat-title"><i
                                                    class="bi bi-bar-chart-fill stat-icon me-2"></i>Trung
                                                bình</div>
                                            <div class="stat-value avgTicketPerHour">- -</div>
                                            <div class="stat-label">Ticket / Giờ</div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="widget widget-sm stat-card text-center">
                                            <div class="stat-title"><i
                                                    class="bi bi-arrow-up-right-circle-fill stat-icon me-2"></i>Nhiều
                                                nhất</div>
                                            <div class="stat-value maxTicketPerHour">- -</div>
                                            <div class="stat-label">Ticket / Giờ</div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="widget widget-sm stat-card text-center">
                                            <div class="stat-title"><i
                                                    class="bi bi-arrow-down-right-circle-fill me-2 stat-icon"></i>
                                                Thấp nhất</div>
                                            <div class="stat-value minTicketPerHour">- -</div>
                                            <div class="stat-label">Ticket / Giờ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chart-body">
                                <canvas width="993" height="330"
                                        style="display: block; box-sizing: border-box; height: 300px; width: 903px;">
                                </canvas>
                            </div>
                            <div class="chart-tabular-data data-table container-fluid">
                                <div class="wrapper">
                                    <div class="data-header"></div>
                                    <div class="data-body"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- chart item-->
                    <div class="col-6">
                        <div class="chart-item" id="ticketByWeekday">

                            <div
                                    class="chart-header d-flex flex-row justify-content-start align-items-center p-3">
                                <!-- //header -->
                                <div class="chart-title d-flex align-items-center gap-2 me-auto">
                                    <i class="bi bi-graph-up-arrow fs-5 text-primary"></i>
                                    <div class="chart-title">Ticket Mỗi Tuần</div>
                                </div>

                                <div class="field-group dateOption" data-dateoption="1w" data-label="1 Tuần">
                                    1W
                                </div>
                                <div class="field-group dateOption" data-dateoption="4w" data-label="4 Tuần">
                                    4W
                                </div>
                                <div class="field-group dateOption" data-dateoption="12w" data-label="12 Tuần">
                                    12W
                                </div>

                                <!-- date range option -->
                                <div class="field-group dateRange">
                                    <!-- <input type="text" id="dateRange" placeholder="Chọn ngày..." /> -->
                                    <div type="text" class="dateRangeOption" placeholder="Chọn ngày..."><i
                                            class="bi bi-calendar"></i></div>
                                </div>

                                <!-- add dataset -->
                                <div class="field-group datasets">
                                    <div class="dropdown">
                                        <a class="" type="button" data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item add-dataset" href="#">Thêm
                                                dữ liệu</a></li>
                                            <div class="dropdown-divider"></div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="chart-metrics container-fluid">
                                <!-- //metrics -->
                                <div class="row mb-3 g-3">
                                    <div class="col-md-4">
                                        <div class="widget stat-card text-center">

                                            <div class="stat-title"><i
                                                    class="bi bi-bar-chart-fill stat-icon me-2"></i>Trung
                                                bình</div>
                                            <div class="stat-value avgTicketPerHour">- -</div>
                                            <div class="stat-label">Ticket / Giờ</div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="widget widget-sm stat-card text-center">
                                            <div class="stat-title"><i
                                                    class="bi bi-arrow-up-right-circle-fill stat-icon me-2"></i>Nhiều
                                                nhất</div>
                                            <div class="stat-value maxTicketPerHour">- -</div>
                                            <div class="stat-label">Ticket / Giờ</div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="widget widget-sm stat-card text-center">
                                            <div class="stat-title"><i
                                                    class="bi bi-arrow-down-right-circle-fill me-2 stat-icon"></i>
                                                Thấp nhất</div>
                                            <div class="stat-value minTicketPerHour">- -</div>
                                            <div class="stat-label">Ticket / Giờ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chart-body">
                                <canvas width="993" height="330"
                                        style="display: block; box-sizing: border-box; height: 300px; width: 903px;">
                                </canvas>
                            </div>
                            <div class="chart-tabular-data data-table container-fluid">
                                <div class="wrapper">
                                    <div class="data-header"></div>
                                    <div class="data-body"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- chart item-->
                    <div class="col-12">
                        <div class="chart-item" id="ticketByDay">
                            <div
                                    class="chart-header d-flex flex-row justify-content-start align-items-center p-3">
                                <!-- //header -->
                                <div class="chart-title d-flex align-items-center gap-2 me-auto">
                                    <i class="bi bi-graph-up-arrow fs-5 text-primary"></i>
                                    <div class="chart-title">Ticket Mỗi Ngày</div>
                                </div>

                                <div class="field-group dateOption" data-dateoption="1m" data-label="1 Tháng">
                                    1M
                                </div>
                                <div class="field-group dateOption" data-dateoption="3m" data-label="3 Tháng">
                                    3M
                                </div>
                                <div class="field-group dateOption" data-dateoption="6m" data-label="6 Tháng">
                                    6M
                                </div>

                                <!-- date range option -->
                                <div class="field-group dateRange">
                                    <!-- <input type="text" id="dateRange" placeholder="Chọn ngày..." /> -->
                                    <div type="text" class="dateRangeOption" placeholder="Chọn ngày..."><i
                                            class="bi bi-calendar"></i></div>
                                </div>

                                <!-- add dataset -->
                                <div class="field-group datasets">
                                    <div class="dropdown">
                                        <a class="" type="button" data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item add-dataset" href="#">Thêm
                                                dữ liệu</a></li>
                                            <div class="dropdown-divider"></div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="chart-metrics container-fluid">
                                <!-- //metrics -->
                                <div class="row mb-3 g-3">
                                    <div class="col-md-4">
                                        <div class="widget stat-card text-center">

                                            <div class="stat-title"><i
                                                    class="bi bi-bar-chart-fill stat-icon me-2"></i>Trung
                                                bình</div>
                                            <div class="stat-value avgTicketPerHour">- -</div>
                                            <div class="stat-label">Ticket / Giờ</div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="widget widget-sm stat-card text-center">
                                            <div class="stat-title"><i
                                                    class="bi bi-arrow-up-right-circle-fill stat-icon me-2"></i>Nhiều
                                                nhất</div>
                                            <div class="stat-value maxTicketPerHour">- -</div>
                                            <div class="stat-label">Ticket / Giờ</div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="widget widget-sm stat-card text-center">
                                            <div class="stat-title"><i
                                                    class="bi bi-arrow-down-right-circle-fill me-2 stat-icon"></i>
                                                Thấp nhất</div>
                                            <div class="stat-value minTicketPerHour">- -</div>
                                            <div class="stat-label">Ticket / Giờ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chart-body">
                                <canvas width="993" height="330"
                                        style="display: block; box-sizing: border-box; height: 300px; width: 903px;">
                                </canvas>
                            </div>
                            <div class="chart-tabular-data data-table container-fluid">
                                <div class="wrapper">
                                    <div class="data-header"></div>
                                    <div class="data-body"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- template cho cai add dataset -->
        <template class="template-add-dataset">
            <!-- floating div -->
            <div class="dataset d-flex -flex-row align-items-center bg-white position-absolute movable">
                <!-- dataset-name -->
                <div class="field-group">
                    <input type="text" class="dataset-name" placeholder="Tên dữ liệu">
                </div>
                <!-- pick date range -->
                <div class="field-group date-range ms-auto">
                    <!-- <label for="" class="d-inline-block fw-normal me-2">Thời gian:
                                </label> -->
                    <select class="form-select d-inline-block" id="dateRangeOption"
                            aria-label="Default select example">
                        <option value="1" selected="">Hôm nay</option>
                        <option value="2">Tuần này</option>
                        <option value="3">Tuần trước</option>
                        <option value="4">4 tuần</option>
                        <option value="5">Tháng này</option>
                        <option value="6">Tháng trước</option>
                        <option value="7">3 tháng</option>
                    </select>
                </div>
                <!-- pick chart type -->
                <div class="field-group chart-type" data-value="bar">
                    <div class="dropdown">
                        <a class="" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-bar-chart me-2"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" data-value="bar"><i
                                    class="bi bi-bar-chart me-2"></i>Biểu đồ
                                cột</a>
                            </li>
                            <li><a class="dropdown-item" href="#" data-value="line"><i
                                    class="bi bi-graph-up me-2"></i>Biểu đồ
                                đường</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- confirm add dataset -->
                <div class="field-group">
                    <i class="bi bi-check-lg confirm-add"></i>
                </div>
                <!-- refresh chart -->
                <div class="field-group">
                    <i class="bi bi-arrow-counterclockwise refresh-dataset"></i>
                </div>

                <!-- cancel add -->
                <div class="field-group">
                    <i class="bi bi-x-circle cancel-add"></i>
                </div>
                <div class="field-group ms-2 border-start">
                    <i class="bi bi-arrows-move move-trigger"></i>
                </div>
            </div>
        </template>
    </div>
    <div th:replace="~{fragments/footer :: footer}">

    </div>

</div>

</body>
<th:block th:fragment="scripts">
    <!-- chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-crosshair"></script>
    <!-- Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/vn.js"></script>
</th:block>
</html>