<!DOCTYPE html >
<html lang="en" th:replace="~{layout:: layout(~{::title}, ~{}, ~{::div.page-content})}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>CSHelpDesk | Quản Lý Thẻ</title>
</head>
<body>
<h2>HELLO</h2>
<h2 class="page-title">Quản Lý Thẻ</h2>
<div class="page-content">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div th:replace="~{fragments/header:: header(~{::h2.page-title})}"></div>
    <!-- Ticket Manager Content -->
    <div class="ticket-manager-content page-main-content d-flex flex-column">
        <div id="ticket-search" class="page-search">
            <div id="form-ticket-search" class="form-ticket-search d-flex flex-row flex-wrap">
                <div class="field-group title mb-2">
                    <label for="title">Tiêu Đề</label>
                    <input type="text" id="title" name="title" placeholder="Nhập tiêu đề...">
                </div>

                <div class="field-group assignee mb-2">
                    <label for="assignee">Assignee</label>
                    <div class="dropdown-input">
                        <input type="text" id="assignee" name="assignee">
                        <i class="bi bi-chevron-down dropdown-button"></i>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item">Action</a></li>
                            <li><a class="dropdown-item">Another action</a></li>
                            <li><a class="dropdown-item">Something else here</a></li>
                            <li><a class="dropdown-item">Separated link</a></li>
                        </ul>
                    </div>
                </div>
                <div class="field-group facebookuser mb-2">
                    <label for="facebookuser">Facebook User</label>
                    <input type="text" id="facebookuser" name="facebookuser" placeholder="Nhập ID...">
                </div>



                <div class="field-group category mb-2">
                    <label for="category">Phân loại</label>
                    <div class="dropdown-input">
                        <input type="text" id="category" name="category" placeholder="Chọn danh mục...">
                        <i class="bi bi-chevron-down dropdown-button"></i>
                        <ul class="dropdown-menu">
                        </ul>
                    </div>
                </div>


                <div class="field-group progress-status mb-2">
                    <label for="progress-status">Tình trạng xử lý</label>
                    <div class="dropdown-input">
                        <input type="text" id="progress-status" name="progress-status" placeholder="Chọn ...">
                        <i class="bi bi-chevron-down dropdown-button"></i>
                        <ul class="dropdown-menu">
                        </ul>
                    </div>
                </div>


                <div class="field-group emotion mb-2">
                    <label for="emotion">Cảm xúc</label>
                    <div class="dropdown-input">
                        <input type="text" id="emotion" name="emotion" placeholder="Chọn loại cảm xúc...">
                        <i class="bi bi-chevron-down dropdown-button"></i>
                        <ul class="dropdown-menu">
                        </ul>
                    </div>
                </div>

                <div class="field-group satisfaction mb-2">
                    <label for="satisfaction">Mức hài lòng</label>
                    <div class="dropdown-input">
                        <input type="text" id="satisfaction" name="satisfaction"
                               placeholder="Chọn mức hài lòng ...">
                        <i class="bi bi-chevron-down dropdown-button"></i>
                        <ul class="dropdown-menu">
                        </ul>
                    </div>
                </div>

                <div class="field-group date-range mb-2">
                    <!-- From - To -->
                    <div class="d-flex gap-2">
                        <div>
                            <label for="fromDate">Từ </label>
                            <input type="date" id="fromDate" name="fromDate" class="form-control" required="">
                        </div>
                        <div>
                            <label for="toDate">Đến </label>
                            <input type="date" id="toDate" name="toDate" class="form-control" required="">
                        </div>
                        <div class="dropdown-input mb-1 fast-pick">
                            <label for="dateRangeLabel">Chọn nhanh</label>
                            <div id="dateRangeLabel-container">
                                <input type="text" id="dateRangeLabel" readonly="" value="Thời gian" class="">
                                <i class="bi bi-chevron-down dropdown-button"></i>
                            </div>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" data-range="today">Hôm nay</a></li>
                                <li><a class="dropdown-item" data-range="yesterday">Hôm qua</a></li>
                                <li><a class="dropdown-item" data-range="this_week">Tuần này</a></li>
                                <li><a class="dropdown-item" data-range="last_7_days">7 Ngày</a></li>
                                <li><a class="dropdown-item" data-range="this_month">Tháng này</a></li>
                                <li><a class="dropdown-item" data-range="last_30_days">30 Ngày</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="w-100"> </div>

                <div class="form-submit-group d-flex gap-2 align-items-center">
                    <div class="btn " id="form-submit">
                        <i class="bi bi-search me-1"></i> Tìm kiếm
                    </div>

                    <div class="btn" id="form-reset">
                        <i class="bi bi-arrow-repeat me-1"></i> Làm mới
                    </div>

                    <div class="btn" id="form-export-excel">
                        <i class="bi bi-download"></i> Tải xuống
                    </div>

                    <div class="btn" id="form-create-ticket">
                        <i class="bi bi-plus-circle"></i> Tạo mới
                    </div>
                </div>

            </div>
        </div>

        <div id="ticket-list" class="page-list flex-grow-1">
            <!-- Header -->
            <div class="page-list-header container-fluid fw-bold border-bottom">
                <div class="row">
                    <div class="col resizable" data-sort="id" data-sort-direction="none">#ID</div>
                    <div class="col resizable" data-sort="title" data-sort-direction="none">Tiêu đề</div>
                    <div class="col resizable" data-sort="assignee" data-sort-direction="none">Nhân viên</div>
                    <div class="col resizable" data-sort="facebookUser" data-sort-direction="none">Facebook User
                    </div>
                    <div class="col resizable" data-sort="progress-status" data-sort-direction="none">Trạng thái
                    </div>
                    <div class="col resizable" data-sort="category" data-sort-direction="none">Danh mục</div>
                    <div class="col resizable" data-sort="createdA" data-sort-direction="none">Ngày tạo</div>
                    <div class="col resizable" data-sort="emotion" data-sort-direction="none">Cảm xúc</div>
                    <div class="col resizable" data-sort="satisfaction" data-sort-direction="none">Mức hài lòng
                    </div>
                </div>
            </div>

            <div class="page-list-body container-fluid" id="ticket-list-body"></div>

            <div id="ticket-pagination-bar"
                 class="page-list-footer page-pagination bg-white p-2 border-top d-flex justify-content-between align-items-center">
                <div class="form-group d-flex align-items-center">
                    <label for="pageSize" class="me-2 mb-0">Hiển thị:</label>
                    <select id="pageSize" class="form-select form-select-sm" style="width: auto;">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span class="ms-2">mỗi trang</span>
                </div>
                <nav>
                    <ul id="pagination-menu" class="pagination pagination-sm mb-0">
                        <li class="page-item  disabled">
                            <a class="page-link" href="#">Prev</a>
                        </li>
                        <li class="page-item active ">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item  ">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item  ">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item disabled"><span class="page-link">...</span></li>
                        <li class="page-item  ">
                            <a class="page-link" href="#">7</a>
                        </li>
                        <li class="page-item  ">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>


        <!-- Ticket Creation -->
        <div id="createTicketModal" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Tạo Ticket Mới</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form id="createTicketForm">
                            <div class="field-group title mb-2">
                                <label for="create_title">Tiêu Đề</label>
                                <input type="text" id="create_title" name="title" placeholder="Nhập tiêu đề...">
                            </div>

                            <div class="field-group assignee mb-2">
                                <label for="create_assignee">Assignee</label>
                                <div class="dropdown-input">
                                    <input type="text" id="create_assignee" name="assignee">
                                    <i class="bi bi-chevron-down dropdown-button"></i>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item">Action</a></li>
                                        <li><a class="dropdown-item">Another action</a></li>
                                        <li><a class="dropdown-item">Something else here</a></li>
                                        <li><a class="dropdown-item">Separated link</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="field-group facebookuser mb-2">
                                <label for="create_facebookuser">Facebook User</label>
                                <input type="text" id="create_facebookuser" name="facebookuser"
                                       placeholder="Nhập ID...">
                            </div>



                            <div class="field-group category mb-2">
                                <label for="create_category">Phân loại</label>
                                <div class="dropdown-input">
                                    <input type="text" id="create_category" name="category"
                                           placeholder="Chọn danh mục...">
                                    <i class="bi bi-chevron-down dropdown-button"></i>
                                    <ul class="dropdown-menu">
                                    </ul>
                                </div>
                            </div>


                            <div class="field-group progress-status mb-2">
                                <label for="create_progress-status">Tình trạng xử lý</label>
                                <div class="dropdown-input">
                                    <input type="text" id="create_progress-status" name="progress-status"
                                           placeholder="Chọn ...">
                                    <i class="bi bi-chevron-down dropdown-button"></i>
                                    <ul class="dropdown-menu">
                                    </ul>
                                </div>
                            </div>


                            <div class="field-group emotion mb-2">
                                <label for="create_emotion">Cảm xúc</label>
                                <div class="dropdown-input">
                                    <input type="text" id="create_emotion" name="emotion"
                                           placeholder="Chọn loại cảm xúc...">
                                    <i class="bi bi-chevron-down dropdown-button"></i>
                                    <ul class="dropdown-menu">
                                    </ul>
                                </div>
                            </div>

                            <div class="field-group satisfaction mb-2">
                                <label for="create_satisfaction">Mức hài lòng</label>
                                <div class="dropdown-input">
                                    <input type="text" id="create_satisfaction" name="satisfaction"
                                           placeholder="Chọn mức hài lòng ...">
                                    <i class="bi bi-chevron-down dropdown-button"></i>
                                    <ul class="dropdown-menu">
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" id="resetCreateTicket">
                            <i class="bi bi-arrow-counterclockwise me-1"></i> Làm mới
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i
                                class="bi bi-x me-1"></i>Hủy</button>
                        <button type="button" class="btn btn-primary" id="submitCreateTicket"><i
                                class="bi bi-plus-circle me-1"></i>Tạo Ticket</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Ticket Detail Modal-->
        <div id="ticketFullDetailModal" class="modal fade ticket-detail-modal" tabindex="-1"
             aria-labelledby="ticketFullDetailModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ticketFullDetailModalLabel">Chi Tiết Toàn Bộ Ticket</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Đóng"></button>
                    </div>
                    <div class="modal-body p-0">
                        <div class="container-fluid p-0">
                            <div class="row g-0" style="height: 80vh;">
                                <div class="col-3 border-end d-flex flex-column overflow-auto p-3"
                                     id="ticketInfoColumn">
                                    <h6 class="mb-3">Thông tin Ticket</h6>
                                    <div class="field-group ticketId mb-2">
                                        <label for="editTicketId">#ID</label>
                                        <input type="text" id="editTicketId" name="ticketId" disabled="">
                                    </div>

                                    <div class="field-group editTitle mb-2">
                                        <label for="editTitle">Tiêu Đề</label>
                                        <input type="text" id="editTitle" name="title"
                                               placeholder="Nhập tiêu đề...">
                                    </div>
                                    <div class="field-group facebookuser mb-2">
                                        <label for="editFacebookUser">Facebook User</label>
                                        <input type="text" id="editFacebookUser" name="facebookuser"
                                               disabled="">
                                    </div>

                                    <div class="field-group assignee mb-2">
                                        <label for="editAssignee">Nhân viên</label>
                                        <input type="text" id="editAssignee" name="assignee" disabled="">
                                    </div>

                                    <div class="field-group createdAt mb-2">
                                        <label for="editCreatedAt">Ngày tạo</label>
                                        <div class="dropdown-input">
                                            <input type="text" id="editCreatedAt" name="assignee" disabled="">
                                        </div>
                                    </div>

                                    <div class="field-group category mb-2">
                                        <label for="editCategory">Phân loại</label>
                                        <div class="dropdown-input">
                                            <input type="text" id="editCategory" name="category"
                                                   placeholder="Chọn danh mục...">
                                            <i class="bi bi-chevron-down dropdown-button"></i>
                                            <ul class="dropdown-menu">
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="field-group progress-status mb-2">
                                        <label for="editProgressStatus">Tình trạng xử lý</label>
                                        <div class="dropdown-input">
                                            <input type="text" id="editProgressStatus" name="progress-status"
                                                   placeholder="Chọn trạng thái...">
                                            <i class="bi bi-chevron-down dropdown-button"></i>
                                            <ul class="dropdown-menu">
                                            </ul>
                                        </div>
                                    </div>


                                    <div class="field-group emotion mb-2">
                                        <label for="editEmotion">Cảm xúc</label>
                                        <input type="text" id="editEmotion" name="emotion" disabled="">
                                    </div>

                                    <div class="field-group satisfaction mb-2">
                                        <label for="satisfaction">Mức hài lòng</label>
                                        <input type="text" id="editSatisfaction" name="satisfaction"
                                               disabled="">
                                    </div>

                                    <div class="field-group tag mb-2">
                                        <label class="form-label">Tag</label>
                                        <select class="form-select" id="editTags" multiple=""></select>
                                    </div>

                                    <div class="field-group note mb-2">
                                        <label class="form-label" for="editNote">Ghi chú</label>
                                        <textarea class="form-control" id="editNote" rows="4"></textarea>
                                    </div>

                                    <div class="mt-3 d-flex justify-content-end gap-2" id="ticketEditFooter">
                                        <button type="button" class="btn btn-secondary btn-sm" id="cancelEdit"
                                                disabled="">Hủy</button>
                                        <button type="button" class="btn btn-primary btn-sm" id="saveEdit"
                                                disabled="">Cập
                                            nhật</button>
                                    </div>
                                </div>
                                <div class="col-6 d-flex flex-column overflow-auto p-3" id="chatBox">
                                    <h6 class="mb-3">Tin nhắn</h6>
                                    <div class="flex-grow-1 d-flex flex-column" id="messageList"></div>
                                </div>
                                <div class="col-3 border-start d-flex flex-column overflow-auto p-3"
                                     id="ticketHistory">
                                    <h6 class="mb-3">Lịch sử Ticket</h6>
                                    <ul class="list-group" id="historyList"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>

</body>
</html>