<!DOCTYPE html >
<html lang="en" th:replace="~{layout:: layout(~{::title}, ~{}, ~{::div.page-content})}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>CSHelpDesk | Hệ Thống</title>
</head>
<body>

<h2 class="page-title">Hệ Thống</h2>
<div class="page-content">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div th:replace="~{fragments/header:: header(~{::h2.page-title})}"></div>
<!--    pending-->
    <div th:replace="~{pending :: pending}"></div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>

</body>
</html>